@charset "utf-8";
/* CSS Document */
.text{
	text-align: center;
}
@media screen and (max-width: 3000px){
	.text p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
		font-size: 24px;
	}
	.hinh{
		height: 250px;
		object-fit: cover;
		overflow: hidden;
	}
	.chu{
		height: 50px;
		justify-content: center;
		padding: 10px;
	}
	.chu p{
		font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
		font-size: 16px;
		text-align: center;
	}
	.chu a{
		text-decoration: none;
		color: #000000;
	}
	.chu a:hover{
		color: #EE5427;
		text-decoration: underline;
	}
	
	.nen a{
		font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
		font-size: 25px;
		text-decoration: none;
		color: #575757;
	}

	.nen a:hover{
		color:#EE5427;
		font-size: 30px;
	text-decoration: underline;
	}
	.anh{
		background: url( "../hinhanh/352342409_579666150956178_3496777744467913177_n.jpg");
		height: 300px;
		background-size: cover;
		text-align: center;
	}
	.form{
		height: 200px;
		width: 70%;
		margin: auto;
		padding: 20px 0px;
	}
	.sua{
		width: 90%;
		height: 20%;
		border-radius: 6px;
		padding: 5px;
		border: 2px #636363;
		background:#C7C7C7;
		opacity: 0.9;
		margin-bottom: 10px;
	}
	input:hover{
		background: #FFFFFF;
		border: solid 1px;
	}
	.nd{
		width: 90%;
		height: 80%;
		border-radius: 6px;
		padding: 5px;
		border: 2px #636363;
		background:#C7C7C7;
		opacity: 0.9;
	}
	textarea:hover{
		background: #FFFFFF;
		border: solid 1px;
	}
	.gui{
		width: 20%;
		height: 15%;
		margin-top: 10px;
	}
}

@media screen and (max-width: 1000px){
	.text p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
		font-size: 24px;
}
	.cach{
	margin: 100px 0px 0px 0px;
}
	.hinh{
	height: 250px;
	overflow: hidden;
}
	.hinh img{
	height: 200px;
	object-fit: cover;
}
	.nen a{
		font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
		font-size: 25px;
		text-decoration: none;
		color: #575757;
	}

	.nen a:hover{
		color:#EE5427;
		font-size: 30px;
	text-decoration: underline;
	}
	.anh{
		background: url( "../hinhanh/352342409_579666150956178_3496777744467913177_n.jpg");
		height: 300px;
		background-size: cover;
		text-align: center;
	}
}
@media screen and (max-width: 600px){
	.text p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
		font-size: 20px;
}
	.cach{
	margin: 40px 0px 0px 0px;
}
	.hinh{
	height: 200px;
	object-fit: cover;
}
	.hinh img{
	height: 200px;
	object-fit: cover;
}
	.nen a{
		font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
		font-size: 25px;
		text-decoration: none;
		color: #575757;
	}

	.nen a:hover{
		color:#EE5427;
		font-size: 30px;
	text-decoration: underline;
	}
	.anh{
		background: url( "../hinhanh/352342409_579666150956178_3496777744467913177_n.jpg");
		height: 300px;
		background-size: cover;
		text-align: center;
	}
	.form{
		height: 170px;
		width: 70%;
		margin: auto;
	}
	
	}

